<h2>Add restaurants</h2>
  <form action = "/entry" method ="post">
    <input type="hidden" name="new_list">
    <label for="new_source_name">Name of New List:</label>
    <input id="new_source_name" name="new_source_name" type="text">
    <label for="new_source_desc">Description of New List:</label>
    <input id="new_source_desc" name="new_source_desc" type="text">
    <p>Add your restaurants:</p>
      <% 4.times do |n| %>
      <input id="<%= "restaurant[#{n}]" %>" name="<%= "restaurant[#{n}]" %>" type="text">
      <br>
    <% end %>
    <input type="submit" class="btn btn-primary" value="Submit"/>
  </form>
  