
<h2><%= @user.name %></h2>

<br/>
  <form action = "/new_list" method ="post">
    <label for="list_name">Name of New List:</label>
    <input id="list_name" name="list_name" type="text">
    <br>
    Restaurants to Add:
    <br>
    <% 10.times do |n| %>
      <input id="<%= "restaurant[#{n}]" %>" name="<%= "restaurant[#{n}]" %>" type="text"
      <% if n == 0 && @rest_name %>
        <%= "value = \"#{@rest_name}\"" %> 
      <% end %>
      > <br>
    <% end %>
    <input type="submit" value="Enter!"/>
  </form>



