<h2>Do you want to delete restaurant entirely or just from the list <%= @source.name%>?</h2>

<form action = "/delete/<%= @restaurant.slug %>/<%= @source.slug %>" method ="post">
<input type="radio" name="choice" value="total_delete">Delete restaurant entirely<br>
<input type="radio" name="choice" value="list_delete">Delete from list only<br>
<input type="submit" value="Delete"/>
</form>

