
<h3>Enter e-mail addresses of friends:</h3>
<form action='/find-friends' method="post">
  <% 10.times do |n| %>
    <input type = "text" name="email[<%=n%>]">
    <br>
  <%end%>
  <input type = "submit" value="submit">
</form>

