
<h3>Enter your friends e-mail addresses:</h3>
<form action='/find-friends' method="post">
  <% 4.times do |n| %>
    <input type="text" name="email[<%=n%>]">
    <br>
  <%end%>
  <input type="submit" class="btn btn-primary" value="submit">
</form>

