ource.order(:name).each do |base| %>
      <% if base.public_source %>
        <option value = '<%= base.id %>'><%= base.name %></option>
      <% end %>
    <% end %>
  </select>
    <label for="source_name">Enter name of new list:</label>
    <input id="source_name" name="source[name]" type="text" value="" size="10">
    
    <label for="source_url">Enter url of list on blog:</label>
    <input id="source_url" name="source[url]" type="text" value="" size="10">
    
    <input type="submit" value="Load source!"/>
  </form>