/* general */
.btn-account {
  display: block;
}

.restaurant-container {
  margin-top: 2%;
}

/* list sharing */

.sharing-table {
  width: auto;
}

.sharing-table th {
  width: 25%;
}

.sharing-table .sharing-table-data {
  text-align: center;
}

.sharing-green {
  background-color: #dff0d8;
}

.sharing-yellow {
  background-color: #fcf8e3;
}

.sharing-gray {
  background-color: #e4eaed
}

